.game-container {
  display: flex;
  flex-direction: row;
}

.path {
  width: 300px;
  height: 400px;
  margin: 0 auto;
}
.one {
  background-color: blue;
}
.two {
  background-color: blueviolet;
}
.three {
  background-color: coral;
}
